body{
  background: #2E2E2D;
  display: grid;
  place-items: center;
  padding: 150px 0px;
}


#calculator_border{
  width: 290px;
  padding: 30px 10px;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px white;

}
#calculator_display{

}
#calculator_display input{
  width: 85%;
  margin: auto;
  height: 55px;
  background: aquamarine;
  color: white;
  font-size: 25px;
  text-align: right;
  margin: 15px auto;
  box-shadow: inset 5px 5px 5px #2d2d2d, inset -2px -2px 5px white;


}

#calculator_buttons button{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: none;
  margin: 5px 5px;
  box-shadow: 5px 5px 5px #9f9f9f;
  outline: 1px solid #000;
  outline-offset: 2px;

  &:active{
    transform: scale(0.94);
    box-shadow: inset 5px 5px 5px rgb(105, 105, 105);
  }
}